name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.25.4"
        id: go

      - name: Check out code
        uses: actions/checkout@v5

      - name: Run linters
        uses: golangci/golangci-lint-action@v9
