name: OpenBSD (Cross-compiled)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.24, 1.25]

    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code
        uses: actions/checkout@v5

      - name: Run tests
        env:
          GOOS: openbsd
          GOARCH: amd64
        run: for d in $(go list -f '{{if .TestGoFiles}}{{.Dir}}{{end}}' ./...); do (echo $d; cd $d && go test -c); done
